.Contact-page {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;   
}

.Contact-title {
  width: 100%;       
  margin-bottom: 30px;
}

.Contact-card {
 
  padding: 40px;
  width: 280px;
  border-radius: 8px;
  background-color: #f4f4f4;
  text-align: center;
  margin-bottom: 50px;
}
.footer-clg1 {
    padding: 10px;
    margin-bottom: 10px;
    background-color: blue;

}