.Awards-clg ul {
  max-width: 400px;        /* limit width *//* push list to LEFT */
  padding-left: 500px;     /* space for bullets */
  text-align: center;       /* left-align text */
  list-style-type: disc; /* normal bullets */
}
.footer-clg {
  width: 98%;                 /* full width */
  background-color: #1f2a44;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
}

.Intro-text,
.About-clg {
  max-width: 900px;
  margin: 30px auto;
  text-align: center;
}


