body {
    background-color: rgb(121, 82, 11);
    color: black;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3JNQFrmG6OFMROuUi4kjVCqLK5j6MS86Omg&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}