    body{
    border:2px solid black;
    padding:10px;
    margin:10px;
    background-color:lightgrey;
    text-align:center;
    background-color:lightblue;
    }
    .register-page{
        width: 100vw;
        height: 100vh; 
    }